<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="token" value="xoxp-43007805858-220631723235-1013271091457-e94c22df423795ee8fb06f516f6f76d8"/>
  </appSettings>
  <connectionStrings>
    <add name="Default" connectionString="Data Source=.\SlackStatusDB.db;Version=3;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>